body{
  margin:1em auto;
  max-width:40em;
  padding:0 .62em;
  font:1.2em/1.62 sans-serif;
}

h1,h2,h3 {
  line-height:1.2;
}

h1 {
  font-size:2.0em;
  text-align:center;
}

@media print{
  body{
    max-width:none
  }
}
